/* Add application styles & imports to this file! */
.action-bar-popover {
  .popover-content {
    padding: 2px;
  }
}

.offcanvas-bottom {
  height: auto !important;
  max-height: 90vh !important;
}
