<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="filterSideNavMenu"
  aria-labelledby="filterSideNavMenuLabel"
>
  <div class="offcanvas-header bg-primary text-white pt-3 pb-2 ps-2">
    <h5
      class="
        offcanvas-title
        m-0
        p-0
        w-100
        d-flex
        flex-row
        justify-content-start
        align-items-center
      "
      id="filterSideNavMenuLabel"
    >
      Filters
      <button
        class="btn btn-primary ms-auto"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        <i class="fa fa-close"></i>
      </button>
    </h5>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="list-group">
      <li class="list-group-item">Test 01</li>
      <li class="list-group-item">Test 02</li>
      <li class="list-group-item">Test 03</li>
      <li class="list-group-item">Test 04</li>
      <li class="list-group-item">Test 05</li>
    </ul>
  </div>
</div>
